#user_group_label {
  cursor: pointer;
  padding: 12px 16px;
  border: 2px solid #d8a15a;
  color: #d8a15a;
  font-weight: bold;
  border-radius: 7px;
  margin-right: 20px;
}

#user_group_label:hover {
  background-color: rgba(51,49,67,0.53);
}

.custom-file-input {
  height: 0;
  padding: 0;
  width: 0;
}

